body{
    background: url(bg.jpg) no-repeat;
    background-size: 4000px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
   
    


}
.color
{
color: red;

}
.store
{

}



.article
{
margin-left: 180px;
}




.arcticl1
{
   
   
}



.article2
{

}



.article3
{

}
.sommearticle
{
margin-left: 65%;
margin-top: 10%;
}